*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
  --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --focus-color: #89d9fb;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--onyx);
  background-color: var(--cultured-2);
}

#header {
  background-color: var(--onyx);
  padding: 1rem;
  display: grid;
  place-content: center;
}

#header input[type='search'] {
  appearance: none;
  border: thin solid var(--cultured);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: var(--onyx);
  color: var(--cultured);
  padding: 0.5rem;
}

#header input[type='search']::placeholder {
  color: var(--cultured);
}

#header input[type='search']:focus {
  outline: none;
  background-color: var(--cultured);
  color: var(--onyx);
}

#container {
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

#today,
.card {
  background-color: var(--cultured);
  border-radius: 1rem;
  border: thin solid var(--gainsboro);
}


#today img {
  grid-column: span 2;
}


#forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 2rem;
}

.card,
#today {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.card p,
#today p {
  margin: 0;
}

.card p:first-of-type,
#today p:nth-of-type(-n+2) {
  grid-column: span 2;
  font-size: 0.8rem;
  font-weight: 200;
}

.card p:nth-of-type(2),
#today p:nth-of-type(3) {
  grid-column: span 2;
  font-size: 2rem;
  font-weight: 600;
}

.card img {
  grid-column: span 2;
  width: 4rem;
  height: 4rem;
}

.card p.label,
#today p.label {
  justify-self: end;
  font-weight: 200;
}

.card p.label + p,
#today p.label +p {
  justify-self: start;
  font-weight: 400;
}

